.gallery {
  width: @mobile-width;
}

.gallery__text {
  font-family: @main-font;
  font-size: @main-font-size;
  line-height: 24px;
  color: @main-text;
  text-transform: uppercase;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 28px;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.gallery__post {
  font-family: @main-font;
  font-size: @main-font-size;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 13px;
}

.gallery__image-name {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-top: 5px;
}

.gallery__like-counter {
  font-weight: bold;
}

.gallery__author {
  color: @main-text;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .gallery__text {
    width: 435px;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;
  }

  .gallery {
    width: 648px;
  }

  .gallery__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }

  .gallery__item {
    width: 324px;
  }

  .gallery__item:first-child {
    width: 648px;
  }

  .gallery__post {
    padding: 0;
  }

  .gallery__image {
    width: 324px;
    height: 267px;

    &--big {
      width: 648px;
      height: 400px;
    }
  }

  .gallery__image-name {
    margin-left: 20px;
  }

  .gallery__author {
    margin-left: 20px;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    width: 1200px;
  }

  .gallery__item {
    width: 400px;
  }

  .gallery__item:first-child {
    width: 1200px;
  }

  .gallery__image {
    width: 400px;
    height: 267px;

    &--big {
      width: 1200px;
      height: 400px;
    }
  }

  .gallery__image-panel {
    position: absolute;
    width: 400px;
    margin-top: -80px;
    background-color: #eeeeee;
    opacity: 0.3;

    &--big {
      position: absolute;
      width: 1200px;
      margin-top: -80px;
      background-color: #eeeeee;
      opacity: 0.3;
    }
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
