.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  outline: 2px solid yellow;
}

.site-list__item {
  background-color: @site-theme;
  color: @white-color;
  font-family: @main-font;
  font-size: @title-font-size;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  outline: 2px solid green;
}

.site-list__item-link {
  color: @white-color;
  text-decoration: none;
}
