.reasons {
  background-color: @white-color;
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

.reasons__name-list {
  font-family: @main-font;
  font-size: @main-font-size;
  line-height: 26px;
  color: @main-text;
  text-transform: uppercase;
  padding: 0;
  margin: 0 auto;
  padding-bottom: 32px;
}

.reasons__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons__item {
  background-color: #eeeeee;
  margin: 0 auto;
  width: 320px;
}

.reasons__item-panel {
  width: 280px;
  padding: 28px 20px;

  &--blue {
    background-color: @site-theme;
    color: @white-color;
    padding: 40px 20px;

    .reasons__number {
      color: @white-color;
    }

    .reasons__desription {
      color: @white-color;
    }
  }
}

.reasons__title {
  font-family: @main-font;
  font-size: @title-font-size;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
}

.reasons__number {
  display: block;
  font-family: @main-font;
  font-size: @main-font-size;
  line-height: 21px;
  color: @main-text;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.reasons__desription {
  font-family: @main-font;
  font-size: @main-font-size;
  line-height: 21px;
  color: @main-text;
  text-transform: uppercase;
  margin: 0;
}

.sublist {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  background-color: @white-color;
}

.sublist__item {
  text-align: left;
  width: 230px;
  padding-left: 70px;
  padding-right: 20px;
  padding-top: 36px;
}

.sublist__item:last-child {
  padding-bottom: 38px;
}

.sublist__title {
  font-family: @main-font;
  font-size: @title-font-size;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 15px;
}

.sublist__description {
  font-family: @main-font;
  font-size: @main-font-size;
  line-height: 21px;
  color: @main-text;
  text-transform: uppercase;
  margin: 0;
}

.reasons__item-image {
  width: 512px;
  height: 256px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .reasons {
    width: @tablet-width;
  }

  .reasons__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reasons__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: auto;
  }

  .reasons__item-panel {
    width: 256px;
    padding: 0;
    padding-top: 46px;
    padding-bottom: 46px;

    &--blue {
      background-color: @site-theme;
      color: @white-color;
      padding: 0;
      padding-top: 46px;
      padding-bottom: 46px;

      .reasons__number {
        color: @white-color;
      }

      .reasons__desription {
        color: @white-color;
      }
    }
  }

  .reasons__item:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  .sublist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sublist__item {
    width: 256px;
    text-align: center;
    padding: 0;
    padding-top: 160px;
    padding-bottom: 60px;
  }

  .sublist__item:last-child {
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .reasons {
    width: 1200px;
  }

  .reasons__item-panel {
    width: 400px;
  }

  .reasons__item-image {
    width: 800px;
    height: 256px;
  }

  .sublist__item {
    width: 400px;
  }
}
