.reasons {
  outline: 2px solid blue;
}

.reasons__name-list {
  font: @Main-font;
  font-size: 14px;
  line-height: 26px;
  color: @main-text;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}

.reasons__list {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 2px solid green;
}

.reasons__item {
  outline: 2px solid yellow;
  background-color: #eeeeee;
  padding-top: 29px;
  padding-bottom: 28px;
}

.reasons__title {
  font-family: @Main-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 12px;
}

.reasons__number {
  display: block;

  font-family: @Main-font;
  font-size: 14px;
  line-height: 21px;
  color: @main-text;
  text-transform: uppercase;

  margin-bottom: 18px;
}

.reasons__desription {
  font-family: @Main-font;
  font-size: 14px;
  line-height: 21px;
  color: @main-text;
  text-transform: uppercase;

  margin: 0;
}

.reasons__number--blue {
  color: @white-color;
}

.reasons__desription--blue {
  color: @white-color;
  margin-bottom: 40px;
}

.reasons__title--blue {
  color: @white-color;
}

.reasons__item--blue {
  background-color: @site-theme;
  padding-top: 45px;
  padding-bottom: 0;
}

.sublist {
  list-style: none;
  padding: 0;
  background-color: @white-color;
  outline: 2px solid red;
}

.sublist__title {
  font-family: @Main-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.sublist__description {
  font-family: @Main-font;
  font-size: 14px;
  line-height: 21px;
  color: @main-text;
  text-transform: uppercase;
  margin: 0;
}
